body {
	font-family: "Ubuntu", sans-serif;
}
.navigation {
	background-color: #ffffff;
	position: fixed;
	width: 100%;
	height: 5rem;
	top: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 9999;
}
.logo {
	float: left;
	padding-top: .3rem;
	padding-left: 2em;
	width: 3em;
}
.info {
	float: left;
	font-family: "Ubuntu";
	font-weight: 300;
	margin-top: .3em;
	padding-left: 1em;
}
.info h2 {
	margin: 0;
	font-size: 1.2em ;
}
.info p {
	margin: 0;
	font-size: .7em;
}
.nav-links {
	float: right;
	display: inline-block;
	padding-right: 3rem;
	padding-top: .9rem;
	font-weight: 300;
}
.nav-links a {
	transition: color .25s ease;
	text-decoration: none;
	color: #40565C;
}
.nav-links a:visited {
	color: #40565C;
}
.nav-links a:hover {
	color: #C4D2DB;
	cursor: pointer;
}

.header {
	background: url("../images/background-logo-colors.jpg") center no-repeat;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;
	color: white;
	text-align: center;
	font-family: "Lato";
	font-weight: 100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header h1 {
	font-weight: 100;
	padding-top: 20rem;
	font-size: 3em;
}
.header h3 {
	font-weight: 100;
}
.arrow {
	margin-top: 4em;
}
.arrow:hover {
	cursor: pointer;
}

.about {
	height: 40em;
	width: 100%;
	overflow: hidden;
	background: repeating-linear-gradient(
	-55deg,
	#FFF,
	#FFF 30px,
	#e6e7e8 1.5px,
	#e6e7e8 31.5px );
}
.about_content {
	background-color: #FFF;
	width: 90%;
	margin: auto;
	height: 80%;
	margin-top: 4%;
	padding-top: 1.5%;
	padding-left: 2%;
}
.self_photo {
	background: url("../images/me.jpg") center no-repeat;
	float: left;
	width: 35%;
	height: 90%;
	margin-top: 1%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.text {
	float: right;
	width: 60%;
	padding-right: 1.5%;
	height: 90%;
}
.text h2 {
	font-weight: 700;
}
.text p {
	font-weight: 300;
	font-size: 1.2em;
	line-height: 2.5;
	margin: 0;
}
a.image-links {
	text-decoration: none;
}
.work_img {
	float: left;
	width: 33.333334%;
	height: 20rem;
}

.personal {
	background: url("../images/personal_logo.jpg") center no-repeat;
}
.mudd_valley {
	background: url("../images/mudd_valley.jpg") center no-repeat;
}
.take_flight {
	background: url("../images/take_flight.jpg") center no-repeat;
}
.rise_logo {
	background: url("../images/rise_logo.jpg") center no-repeat;
}
.type_posters {
background: url("../images/three_period_posters.jpg") center no-repeat;
}
.book_covers {
	background: url("../images/book_covers.jpg") center no-repeat;
}
.infographic {
	background: url("../images/infographic.jpg") center no-repeat;
}
.cologne {
	background: url("../images/black_bear_cologne.jpg") center no-repeat;
}
.nuovo {
	background: url("../images/nuovo.jpg") center no-repeat;
}
.personal, .mudd_valley, .take_flight, .rise_logo, .type_posters, .book_covers, .infographic, .cologne, .nuovo {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.overlay {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20rem;
	background-color: #00a0aa;
	opacity: 0;
	transition: all .5s;
}
.overlay:hover {
	opacity: .85;
	cursor: pointer;
}
.img_text {
	color: white;
	padding-top: 9em;
	text-align: center;
	font-weight: 300;
}
.img_text h3 {
	margin: 0
}
.img_text p {
	font-style: italic;
	margin-top: .1em
}
.skills {
	clear: both;
	height: 45em;
	width: 100%;
	background-color: #000033;
	color: white;
	background: url("../images/subway-logo-colors.jpg") center no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.skills_text {
	clear: both;
	width: 40em;
	margin: 0 auto;
	padding-top: 18em;
}
.skills_header {
	float: left;
}
.skills h1 {
	margin: 0;
	font-family: "Lato";
	font-weight: 100;
	text-align: right;
	font-size: 3em
}
.skills_list ul {
	font-family: "Lato";
	font-weight: 100;
	padding-top: .2em;
	font-size: 1.4em;
	margin: 0;
	float: left;
	list-style-type: none;
}
.thick {
	color: red;
	font-weight: 400
}
.footer {
	clear: both;
	background-color: #222127;
	height: 4em;
}
.icons {
	width: 80%;
	padding-top: 1.1rem;
	margin-top: -.1rem;
}
.icons li {
	display: inline-block;
	float: right;
	padding-right: .3em;
}
.icons i {
	color: white;
	font-size: 2em;
	transition: opacity .5s ease;
}
.icons i:hover {
	opacity: .5;
	cursor: pointer;
}

.box-1 {
	margin-top: 7em;
	float: left;
	width: 30%;
	height: 700px;
	padding: 0;
	border: 0;
}

.box-text {
	font-family: "Lato";
	font-style: italic;
	margin-left: 8%;
	margin-right: 8%;
}
.box-text h2, .box-text h4 {
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box-text p {
	margin-top: 2em;
	font-weight: 300;
	line-height: 1.5em;
}
div.box-2 {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 7em;
	float: right;
	width: 67%;
	height: 39em;
	padding: 0;
	margin-right: 3%;
	border: 0;
}
