// imports Bourbon
@import "../bourbon/bourbon";

//imports Modules
@import "../modules/all";

// Sass Variables
$lato: "Lato", Helvetica, sans-serif;
$open-sans: "Open Sans", Helvetica, sans-serif;
$yantramanav: 'Yantramanav', sans-serif;
$darkest-blue-green: #003339;
$rich-black: #222127;
$rich-black-85: rgba(34, 33, 39, .85);
$white: #ffffff;
$cyan: #86E2D5;
$dark-blue-green: #40565C;
$light-blue-green: #00a0aa;
$gold: #f3d488;
$rgba-white-0: rgba(256,256,256,0);
$rgba-white-1: rgba(256,256,256,1);
$rgba-light-blue-green-0: rgba(0,160,170,0);
$rgba-light-blue-green-85: rgba(0,160,170,.85);

// Media Query Breakpoints
$break-small: "only screen and (max-width : 400px)";
$break-large: "only screen and (min-width : 1200px)";
