// Background Size
@mixin background-size($size) {
  -webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin rgba-white-bg($opacity) {
  background: rgba(255, 255, 255, $opacity);
}
